// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap。今回はCSSを適用させる。
// @import '~bootstrap/scss/bootstrap';

html {
    font-size: 100%;
    color: #333333;
    // コンテンツを縦幅一杯にするため。htmlタグからheight指定をする必要がある。
    height: 100%;
}

body {
    // コンテンツを縦幅一杯にするため。
    height: 100%;
}

li {
    // 左端の・を削除するため。
    list-style: none;
}

#app {
    // コンテンツを縦幅一杯にするため。
    height: 100%;
}

.flex {
    // フレックスボックスにし，その主軸を縦方向にしている。
    // その上で，「.container{}」に対してflexの値を1以上にすることでコンテンツ部分を縦幅一杯に設定している。
    display: flex;
    flex-direction: column;
    // コンテンツを縦幅一杯にするため。
    height: 100%;
}

.container {
    // この部分の縦幅を下一杯まで指定するため。これでフッター部分がコンテンツ領域に対し最下部に配置される形になる。
    flex: 1;
    max-width: 800px;
    margin: 30px auto 0;

    .appTitle {
        font-size: 4rem;
        text-decoration: none;
        color: #333333;
        font-family: "Genos", sans-serif;
        user-select: none;

        &:hover {
            color: #e74c3c;
        }
    }

    .numberCompleted {
        font-size: 2rem;
        font-family: "Genos", sans-serif;
        user-select: none;
    }

    .NotFound {
        font-size: 2rem;
        font-family: "Genos", sans-serif;
        user-select: none;
    }
}

.parent {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 2px;

    li {
        word-break: break-all;
        line-height: 1.5;
        font-size: 1.175rem;

        button {
            margin-top: 4px;
            height: 24px;
            width: 40px;
            background-color: #3cb371;
            color: #fff;
            border-radius: 4px;
            box-shadow: 0px 0px 15px -5px #359e64;

            &:hover {
                background-color: #50eb95;
            }
        }

        .xmark {
            background-color: #f07264;
            box-shadow: 0px 0px 15px -5px #db6f63;

            &:hover {
                background-color: #ff1900;
            }
        }
    }

    li:first-child {
        margin-left: 5px;
        margin-right: 30px;
    }

    li:nth-child(3) {
        margin-left: auto;
        margin-right: 10px;
    }

    li:last-child {
        margin-right: 5px;
    }
}

.pagination {
    display: flex;
    margin-top: 30px;

    li + li {
        margin-left: 10px;
    }

    .selected {
        color: #e74c3c;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    #modalContent {
        z-index: 1000;
        width: 50%;
        padding: 1em;
        background: #fff;
    }
}

footer {
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .container {
        max-width: 95%;
    }
}
