@import url(https://fonts.googleapis.com/css?family=Nunito);
html {
  font-size: 100%;
  color: #333333;
}

li {
  list-style: none;
}

.container {
  max-width: 800px;
  margin: 30px auto 0;
}
.container .appTitle {
  font-size: 4rem;
  text-decoration: none;
  color: #333333;
  font-family: "Genos", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .appTitle:hover {
  color: #e74c3c;
}
.container .numberCompleted {
  font-size: 2rem;
  font-family: "Genos", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .NotFound {
  font-size: 2rem;
  font-family: "Genos", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.parent {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 2px;
}
.parent li {
  word-break: break-all;
  line-height: 1.5;
  font-size: 1.175rem;
}
.parent li button {
  margin-top: 4px;
  height: 24px;
  width: 40px;
  background-color: #3cb371;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 15px -5px #359e64;
}
.parent li button:hover {
  background-color: #50eb95;
}
.parent li .xmark {
  background-color: #f07264;
  box-shadow: 0px 0px 15px -5px #db6f63;
}
.parent li .xmark:hover {
  background-color: #ff1900;
}
.parent li:first-child {
  margin-left: 5px;
  margin-right: 30px;
}
.parent li:nth-child(3) {
  margin-left: auto;
  margin-right: 10px;
}
.parent li:last-child {
  margin-right: 5px;
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 95%;
  }
}
